<!doctype html>
<html 
  lang="{{ request.locale.iso_code }}"
  class="{% if request.design_mode %}design-mode{% endif %}">
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5MQLTFX6');</script>
<!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

  {%- unless settings.favicon == blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: '32', height: '32' }}">
  {%- endunless -%}

  <link rel="icon" type="image/png" href="https://cdn.shopify.com/s/files/1/0634/0139/4275/files/favicon.png">

  <title>
    {{ page_title }}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% render 'meta-tags' %}

  {{ content_for_header }}

  {% render 'styles-scripts' %}

  <link href="{{ 'vendors/fontawesome/css/all.min.css' | asset_url }}" rel="stylesheet">
  <link href="{{ 'vendors/bootstrap/css/bootstrap.min.css' | asset_url }}" rel="stylesheet">
  <link href="{{ 'vendors/slick/slick-theme.css' | asset_url }}" rel="stylesheet">
  <link href="{{ 'vendors/slick/slick.css' | asset_url }}" rel="stylesheet">
  <link href="{{ 'vendors/aos/css/aos.css' | asset_url }}" rel="stylesheet">
  <link href="{{ 'fonts/fonts.css' | asset_url }}" rel="stylesheet">
  <link href="{{ 'style.css' | asset_url }}" rel="stylesheet">

   <!-- RB2B Visitor Identification -->
    <script>!function(key) {if (window.reb2b) return;window.reb2b = {loaded: true};var s = document.createElement("script");s.async = true;s.src = "https://ddwl4m2hdecbv.cloudfront.net/b/" + key + "/" + key + ".js.gz";document.getElementsByTagName("script")[0].parentNode.insertBefore(s, document.getElementsByTagName("script")[0]);}("7N850H54LYN1");</script>
 
</head>

<body class="{{ request.page_type | prepend: 'page-type-' }}">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MQLTFX6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <a class="visually-hidden-focusable" href="#main">
    {{ 'general.accessibility.skip_content' | t }}
  </a>
  
  <div id="header-group">
    {% sections 'header-group' %}
  </div>

  <main id="main">
    {{ content_for_layout }}
  </main>

  <div id="footer-group">
    {% sections 'footer-group' %}
  </div>

  {% liquid
    render 'offcanvas-cart'
    render 'offcanvas-search'
    render 'modal-localization'
    render 'rich-snippets'
  %}

{% if customer %}
  {% if customer.tags contains 'B2B Approved' or customer.tags contains 'B2B_Approved' %}
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        document.body.classList.add('valid-b2b');
      });
    </script>
  {% endif %}
{% endif %}

<script>
document.addEventListener("DOMContentLoaded", function () {
  if (window.location.pathname !== "/account") return;
  if (sessionStorage.getItem("shopify_login_redirect_done") === "1") {
    return;
  }

  sessionStorage.setItem("shopify_login_redirect_done", "1");

  window.location.replace("/");
});
</script>
  
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js-na2.hs-scripts.com/23809417.js"></script>
<!-- End of HubSpot Embed Code -->
</body>
</html>
    