{% comment %}
Videos Section
{% endcomment %}

<section class="content-area relative" data-aos="fade-up">
  <img class="resources-video-shape" src="https://cdn.shopify.com/s/files/1/0634/0139/4275/files/dark-shape-bg.webp" alt="shape">

  <div class="container large resources-video">
    {% if section.settings.heading != blank %}
      <h2 class="heading h4 text_white">{{ section.settings.heading }}</h2>
    {% endif %}
  </div>

  <div class="container large resources-video">
    <div class="row">
      {% for block in section.blocks %}
        <div class="col-sm-4">
          <div class="resources-video-box">
            <div class="content-image">
              {% if block.settings.thumb != blank %}
                <img src="{{ block.settings.thumb | img_url: '800x' }}" alt="{{ block.settings.title }}">
              {% endif %}
              {% if block.settings.video_url != blank %}
                <a class="video-btn" data-lity href="{{ block.settings.video_url }}">
                   <img src="https://cdn.shopify.com/s/files/1/0634/0139/4275/files/play-icon.webp" alt="Play">
                </a>
              {% endif %}
            </div>
            {% if block.settings.title != blank %}
              <h3 class="heading">{{ block.settings.title }}</h3>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Videos Section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Videos"
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "thumb",
          "label": "Thumbnail"
        },
        {
          "type": "url",
          "id": "video_url",
          "label": "Video URL (YouTube/Vimeo)"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Video Title"
        }
      ]
    }
  ],
  "max_blocks": 50,
  "presets": [
    {
      "name": "Videos Section",
      "blocks": []
    }
  ]
}
{% endschema %}